.events-page {
  padding: 30px;
  text-align: center;
}

.event-gallery {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.event-card {
  width: 300px;
}

.event-card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.event-card p {
  margin-top: 10px;
  font-weight: bold;
}
